<!-- 

<h1>Employee List</h1>
 
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
            <td>Age</td>
            <td>Contact</td>
            <td>Dob</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor=" let employee of employees">
            <td>{{employee.Id}}</td>
            <td>{{employee.FirstName}} {{employee.LastName}}</td>
            <td>{{employee.Email}}</td>  
            <td>{{employee.Age}}</td>
            <td>{{employee.Contact}}</td>
            <td>{{employee.Dob}}</td>
        </tr>
    </tbody> -->